.calc-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: $color-black;

    &::before{
        position: absolute;
        content: "";
        width: 100%;
        top: 50%;
        z-index: -1;
        height: calc(100% + 1rem);
        transform: translateY(-50%);
        background: linear-gradient(to right, 
        #ff1b1b,#ffb71b, #50ff1b, #1bffff,
        #581bff, #ff1bd9, #ff1b1b) repeat;
        background-size: 200%;
        animation: gradientRotation 20s ease infinite;
    }
}

.calc {
    width: 100%;
    max-width: 54.5rem;

    &__display{
        color: $color-white;
        display: flex;
        flex-direction: column;
        text-align: right;
        padding: 10rem 0;
        gap: 2rem;
    }

    &__label{
        &--history{
            font-size: 5rem;
            color: rgba($color-white, 0.9);
        }
        
        &--result{
            font-size: 8.16rem;
        }
    }

    &__buttons{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 8.5rem);
        grid-template-areas: 
        "btnCe btnC btnBack btnDivision"
        "btn7 btn8 btn9 btnMultiply"
        "btn4 btn5 btn6 btnSubtract"
        "btn1 btn2 btn3 btnSum"
        "btnE btn0 btnDot btnEqual";
        gap: 1rem;
    }

    &__btn {
        &--ce{
            grid-area: btnCe;
        }

        &--c{
            grid-area: btnC;
        }

        &--backspace{
            grid-area: btnBack;
        }

        &--division{
            grid-area: btnDivision;
        }

        &--multiply{
            grid-area: btnMultiply;
        }

        &--subtraction{
            grid-area: btnSubtract;
        }

        &--addition{
            grid-area: btnSum;
        }

        &--equal{
            grid-area: btnEqual;
        }
        
        &--dot{
            grid-area: btnDot;
        }
        
        &--0{
            grid-area: btn0;
        }
        
        &--1{
            grid-area: btn1;
        }
        
        &--2{
            grid-area: btn2;
        }
        
        &--3{
            grid-area: btn3;
        }
        
        &--4{
            grid-area: btn4;
        }
        
        &--5{
            grid-area: btn5;
        }
        
        &--6{
            grid-area: btn6;
        }
        
        &--7{
            grid-area: btn7;
        }
        
        &--8{
            grid-area: btn8;
        }
        
        &--9{
            grid-area: btn9;
        }
    }
}

@keyframes gradientRotation {
    0% {
        background-position: 0 0;
    }
    
    100% {
        background-position: 200% 0;
    }
}
