.btn,
.btn::after,
.btn::before {
  height: 100%;
  width: 100%;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3rem;
  cursor: pointer;
}

.btn {
  color: $color-white;
  transition: 0.2s all ease-in;
  background-color: #161c30;

  &--operator,
  &--equal {
    background-color: $color-dark-blue;
  }

  &:hover {
    background-color: $color-yellow;
    color: $color-dark-blue--1;
  }
}
