.btn,
.btn::after,
.btn::before{
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 3rem;
    cursor: pointer;
}

.btn{
    color: $color-white;
    background-color: $color-grey;
    transition: .2s all ease-in;

    &--dark{
        background-color: $color-dark-grey;
    }

    &:hover{
        background-color: rgba($color-white, 0.25);
    }

    &:active{
        scale: 1;
        background-color: rgba($color-dark-grey, 0.9);
    }
}