*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: $color-black;
    height: 100vh;
}

button,
button::after,
button::before {
    border: none;
    background-color: transparent;
}